*{
      padding: 0;
      margin: 0;
      font-family:Arial, Helvetica, sans-serif;
}
/* Pages */

#mainMenu{
    display: flex;
    /* display: none;   */
}
#instructionMenu{
    display: none;
    position: absolute;
    background-color: black;
    color: white;
    opacity: 90%;
    width: 720px;
    height: 480px;
    padding: 48px 32px;
}
#gameoverMenu{
    display: flex;
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 480px;
    gap: 18px;
    color: white;
}
#leaderboardMenu{
    display: flex;
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 480px;
    gap: 18px;
    color: white;
}

/*  */
h1{
    font-size: 48px;
    font-weight:bolder;
}
h4{
    font-size: 20px;
}
#leftBtn{
    background-color: orangered;
}
#rightBtn{
    background-color: darkcyan;
    width: fit-content;
    min-width: 128px;   
}
table{
    font-size: 20px;
    width: 480px;
    border-collapse: collapse;
    text-align: left;
}
table *{
    padding: 6px 2px;
}
td{
    border: 0;
    border-bottom: 1px;
    border-color: white;
    border-style: solid;
}
h2{
    font-size: 32px;
}
body{
    display: flex;
    height: 98vh;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(69, 69, 69); */
    background-color: rgb(245, 245, 245);
}
main{
    flex-direction: column;
    gap: 12px;
    position: absolute
}
input{
    padding: 12px;
    border-radius: 6px;
    background-color:chocolate;
    color: white;
    font-size: 18px;
    border: 2px solid black;
}
input::placeholder{
    color: white;
}
select{
    padding: 12px;
    border-radius: 6px;
    background-color:chocolate;
    color: white;
    border: 2px solid black;
    font-size: 18px;
}
button{
    font-size: 18px;
    font-weight: bold;
    width: 128px;
    border-radius: 6px;
    background-color: black;
    color: white;
    border: none;
    padding: 12px;
}
#buttonContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#instructionMenu *{
    margin-bottom: 32px;
}
#instructionMenu ol{
    transform: translate(24px);
    font-size: 20px;
}
#closeBtn{
    background-image: url(Sprite/close-icon.png);
    background-size: cover;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 32px;
    top: 32px;
}